@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   // background-image: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg') !important;
    background-repeat: repeat-y;
   // padding: 20px;
    //color: white;
}


.app-background {
 // background: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg');
  background-repeat: repeat-y;
}

.v-application__wrap {
  // background: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg');
  background-repeat: repeat-y;
}


.v-main {
    // background: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg');
    background-repeat: repeat-y;
}

.v-container {
  padding: 0px !important;

}

.app-heading {
  font-size: 2rem;
  color: #1cffcefa;
  font-weight:bolder;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.white--text {
  color: #fff;
}

.no-pad {
  padding: 0px !important;

}


.outside-table {
  width: 80%;
  margin: 0 auto !important;
//  color: #1cffcefa;
  // background: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg');
}

.overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  background-repeat: repeat-y;
}


h1, button {
  color:#fff;
}

.tabulator {
  width: 80%;
  margin: 0 auto;
}

.tabulator-col {
  background-color: rgb(6, 94, 9)!important;
  color:white;
}

.tabulator .tabulator-col:nth-child(1) .tabulator-col-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
