@tailwind base;
@tailwind components;
@tailwind utilities;


body {
     background-image: url('https://www.ryangriego.com/images/home-background-ryan-griego.jpeg');
    background-repeat: repeat-y;
     color: white;
}

.app-heading {
  font-size: 2rem;
  color: #1cffcefa;
  font-weight:bolder;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  background-repeat: repeat-y;
}

h1, button {
  color:#fff;
}
